<%= form_for [@tweets, @comments] do |f| %>
  <div class="form-signin mt-5">
    <h1 class="h3 mb-3 font-weight-normal text-center">スレッドへのコメント</h1>
    <%= f.label "コメントする", class: "sr-only" %>
    <%= f.text_area :comments, class: "form-control mb-2", style: "resize: none;", placeholder: "コメントを入力" %>
    <%= f.submit "送信", class: "btn btn-lg btn-danger btn-block" %>
  </div>
<% end %>
