<% if user_signed_in? %>
  <% if tweet.like_user(current_user.id) %>
    <%= link_to 'いいね', "tweets/#{tweet.id}/likes/#{like}", method: :delete, class: "fas fa-heart text-danger float-left", id: "like-buttons", remote: true %>
    <span class="text-danger float-left ml-1">
      <%= tweet.likes_count %>
    </span>
  <% else %>
    <%= link_to 'いいね', tweet_likes_path(tweet.id), method: :post, class: "far fa-heart text-danger float-left", id: "like-buttons", remote: true %>
    <span class="text-danger float-left ml-1">
      <%= tweet.likes_count %>
    </span>
  <% end %>
<% end %>
